* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

html, body {
  line-height: 1.7em; }

.container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 420px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 960px;
    margin: 0 auto; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
    margin: 0 auto; } }

.text_primary {
  color: #9055A2; }

.lead {
  font-size: 20px; }

.btn {
  background: #000;
  color: #ffffff;
  padding: 24px 18px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  position: relative;
  top: 30px;
  transition: 0.5s; }

.btn:hover {
  background: #9055A2; }

.btn_light {
  background: #fff;
  color: #333;
  padding: 24px 18px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  position: relative;
  top: 30px;
  transition: 0.5s; }

.btn_light:hover {
  background: #9055A2;
  color: #ffffff; }

.clearfix:after {
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
  display: block; }

a {
  text-decoration: none;
  color: #333333; }

#navbar {
  background: #9055A2;
  /* xsmall ul */
  /* xsmall ul */ }

#navbar a {
  color: #ffffff; }

#navbar h1 {
  float: left;
  padding-top: 20px; }

@media screen and (max-width: 420px) {
  #navbar h1 {
    font-size: 1rem; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #navbar h1 {
    font-size: 1rem; } }

#navbar .nav_icon {
  outline: none;
  display: none;
  float: right;
  cursor: pointer; }

#navbar .nav_icon .navbar {
  border-bottom: 2px solid #fff;
  height: 7px;
  width: 22px;
  position: relative;
  top: 20px; }

#navbar ul {
  float: right; }

#navbar ul li {
  list-style: none;
  float: left; }

#navbar ul li a {
  text-transform: uppercase;
  display: block;
  padding: 20px;
  text-align: center;
  transition: .7s; }

#navbar ul li a:hover, #navbar ul li a.current {
  background: #444444;
  color: #ae7fbc; }

@media screen and (max-width: 420px) {
  #navbar ul {
    position: fixed;
    top: 0;
    left: -150px;
    float: left;
    background: #9055A2;
    height: 100%;
    z-index: 99;
    transition: 0.7s; }
  #navbar ul li {
    float: none; }
  #navbar .nav_icon {
    display: block; }
  #navbar .side_nav {
    transition: 0.7s;
    left: 0; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #navbar ul {
    width: 150px;
    position: fixed;
    top: 0;
    left: -150px;
    float: left;
    background: #9055A2;
    height: 100%;
    z-index: 99;
    transition: 0.7s; }
  #navbar ul li {
    width: 100%; }
  #navbar .nav_icon {
    display: block; }
  #navbar .side_nav {
    left: 0; } }

/* #navbar */
#showcase {
  background: linear-gradient(to right bottom, rgba(212, 153, 185, 0.8), rgba(253, 214, 146, 0.8)), url(../img/the-palm-962785_960_720.jpg) center center no-repeat;
  background-size: cover;
  height: 600px; }

#showcase .showcase_content {
  color: #ffffff;
  text-align: center;
  padding-top: 180px; }

#showcase .showcase_content h1 {
  line-height: 1.2em;
  font-size: 60px;
  text-transform: capitalize; }

#showcase .showcase_content p {
  padding-bottom: 20px;
  line-height: 1.7em; }

#showcase .showcase_content .btn {
  padding: 18px 12px;
  font-size: .8rem; }

/* #showcase */
@media screen and (max-width: 420px) {
  #showcase {
    height: 350px; }
  #showcase .showcase_content {
    padding-top: 40px; }
  #showcase .showcase_content h1 {
    font-size: 2.4rem;
    position: relative;
    top: 15px; }
  #showcase .showcase_content p {
    font-size: .8rem;
    font-weight: bold; }
  #showcase .showcase_content .btn {
    padding: 18px 12px;
    font-size: .8rem;
    position: relative;
    top: 0px; } }

/* xsmall #showcase */
@media screen and (min-width: 420px) and (max-width: 768px) {
  #showcase {
    height: 350px;
    padding-top: 50px; }
  #showcase .showcase_content {
    padding-top: 40px; }
  #showcase .showcase_content h1 {
    font-size: 2.4rem; }
  #showcase .showcase_content p {
    font-size: 1rem; }
  #showcase .showcase_content .btn {
    padding: 18px 12px;
    font-size: .8rem;
    position: relative;
    top: 0px; } }

/* small #showcase */
h1, h2, h3 {
  padding-bottom: 20px; }

p {
  margin: 10px 0; }

#home_info {
  overflow: hidden;
  height: 400px; }

#home_info .info_img {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%; }

#home_info .info_img img {
  height: 100%;
  width: 100%; }

#home_info .info_content {
  position: relative;
  z-index: 1;
  padding: 80px 20px 20px 20px;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  height: 100%;
  background: #333;
  color: #ffffff; }

#home_info .info_content h2 {
  text-transform: uppercase; }

/* home_info */
@media screen and (max-width: 420px) {
  #home_info {
    overflow: visible; }
  #home_info .info_img {
    width: 100%;
    float: none;
    height: 250px; }
  #home_info .info_content {
    width: 100%;
    float: none;
    height: 450px;
    padding-bottom: 60px;
    padding: 60px 30px; }
  #home_info .info_content h2, #home_info .info_content span {
    font-size: 1rem; }
  #home_info .info_content p {
    font-size: 0.8rem; }
  #home_info .info_content .btn_light {
    padding: 12px  8px; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #home_info {
    overflow: visible; }
  #home_info .info_img {
    float: none;
    width: 100%;
    height: 350px; }
  #home_info .info_content {
    float: none;
    width: 100%;
    height: 450px;
    padding-bottom: 60px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #home_info .info_content h2 {
    font-size: 1.1rem; }
  #home_info .info_content p {
    font-size: 0.8rem; }
  #home_info .info_content .btn_light {
    padding: 12px  8px; } }

#features .box {
  width: 33.3%;
  float: left;
  text-align: center;
  padding: 50px; }

#features .box:nth-of-type(2) {
  background: #9055A2;
  color: #ffffff; }

#features .box i {
  margin-bottom: 10px; }

@media screen and (max-width: 420px) {
  #features .box {
    width: 100%;
    float: none; }
  #features .box:nth-of-type(1) {
    margin-top: 295px; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #features .box {
    width: 100%;
    float: none; }
  #features .box:nth-of-type(1) {
    margin-top: 400px; } }

#main_footer {
  text-align: center;
  background: #444444;
  color: #ffffff;
  padding: 20px; }

#about_info {
  line-height: 2.1rem;
  margin-top: 160px;
  min-height: 400px;
  /* @include xsmall  */ }

#about_info .info_left {
  float: left;
  width: 50%; }

#about_info .info_right {
  float: right;
  width: 50%; }

#about_info .info_right img {
  display: block;
  position: relative;
  bottom: 25px;
  left: 35%;
  height: 300px;
  width: 300px;
  border-radius: 50%; }

@media screen and (max-width: 420px) {
  #about_info .info_left {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 80px; }
  #about_info .info_left h1, #about_info .info_left .text_primary {
    font-size: 1.1rem;
    top: 40px; }
  #about_info .info_left p {
    font-size: .8rem;
    position: relative;
    top: 0; }
  #about_info .info_right {
    width: 100%;
    float: none; }
  #about_info .info_right img {
    left: 0;
    top: 0;
    margin-top: 40px;
    height: 170px;
    width: 170px;
    margin: 60px auto; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #about_info .info_left {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 80px; }
  #about_info .info_left h1, #about_info .info_left .text_primary {
    font-size: 1.1rem;
    top: 40px; }
  #about_info .info_left p {
    font-size: .8rem;
    position: relative;
    bottom: 0; }
  #about_info .info_right {
    width: 100%;
    float: none; }
  #about_info .info_right img {
    left: 0;
    top: 0;
    margin-top: 40px;
    height: 170px;
    width: 170px;
    margin: 60px auto; } }

/* about_info */
.l-heading {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 800; }

#testimonials {
  padding: 60px 0;
  margin-bottom: 60px;
  background: linear-gradient(to right bottom, rgba(128, 0, 128, 0.5), rgba(255, 166, 0, 0.5)), url(../img/hotel_lobby.jpg) center center no-repeat;
  background-size: cover;
  /* .testimonial */ }

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 15px;
  background: #333;
  color: #ffffff;
  overflow: hidden;
  opacity: 0.9; }

#testimonials .testimonial .img_container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  float: left; }

#testimonials .testimonial .img_container img {
  width: 100%;
  display: block;
  margin-right: 5px; }

#testimonials .testimonial p {
  float: right;
  width: 89%; }

@media screen and (max-width: 420px) {
  #testimonials .testimonial .img_container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    float: none; }
  #testimonials .testimonial p {
    font-size: 0.8rem; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #testimonials .testimonial .img_container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    float: none; }
  #testimonials .testimonial p {
    font-size: 0.8rem; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #testimonials .testimonial p {
    width: 80%; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #testimonials .testimonial p {
    width: 83%; } }

@media screen and (max-width: 420px) {
  #testimonials .container {
    padding: 0; }
  #testimonials .l-heading {
    font-size: 1rem; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #testimonials .l-heading {
    font-size: 1.3rem; } }

/* #testimonials */
#contact_form {
  margin: 60px 0; }

#contact_form .l-heading {
  color: #000000;
  text-align: left; }

#contact_form form [type='text'], #contact_form form [type='email'], #contact_form form textarea {
  width: 100%;
  border: 2px solid #ccc;
  padding: 8px 20px;
  margin-bottom: 15px;
  transition: all 0.7s;
  outline: none;
  cursor: pointer; }

#contact_form form [type='text']:focus, #contact_form form [type='email']:focus, #contact_form form textarea:focus {
  border: 2px solid #9055A2; }

#contact_form [type="submit"] {
  display: block;
  background: #9055A2;
  color: #ffffff;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  transition: 0.7s; }

#contact_form [type="submit"]:hover {
  background: #ae7fbc; }

/* contact_form */
#contact_info {
  background: #9055A2;
  padding: 50px;
  color: #ffffff; }

#contact_info h3 {
  margin-bottom: -20px; }

#contact_info .box {
  width: 33.3%;
  float: left;
  text-align: center; }

@media screen and (max-width: 420px) {
  #contact_info .box {
    height: 200px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    float: none; }
  #contact_info h3 {
    margin-bottom: 5px; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  #contact_info .box {
    height: 200px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    float: none; }
  #contact_info h3 {
    margin-bottom: 5px; } }

@media screen and (max-width: 420px) {
  #contact_info {
    margin: 0;
    width: 100%; }
  #contact_info .container {
    width: 100%;
    padding: 0; } }
